---
import Cv from '../components/Cv';
import Hero from '../components/Hero';
import PortfolioSection from '../components/PortfolioSection';
import TechSkills from '../components/TechSkills';
import MainLayout from '../layouts/mainLayout.astro';
---

<MainLayout>
  <Hero />
  <Cv />
  <TechSkills />
  <div id="projects">
    <PortfolioSection client:load />
  </div>
</MainLayout>
